<!DOCTYPE html>
<html>
  <head>
    <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet" media="screen">
    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script> 
  </head>
  <body>
    <div class="container">

      <h3>Arts</h3>
      <div class="row">
        <div class="span12">
            {% for d in arts %}
              {% if forloop.counter0|divisibleby:4 %}
                <div class="row">
              {% endif %}
              <div class="span3">
                <a href="{% url "dept_list" d.id %}">{{ d.name }}</a> <br/>
              </div>
              {% if forloop.counter|divisibleby:4 or forloop.last %}
                </div>
              {% endif %}
            {% endfor %}
        </div>
      </div>

      <h3>Science</h3>
      <div class="row">
        <div class="span12">
            {% for d in science %}
              {% if forloop.counter0|divisibleby:4 %}
                <div class="row">
              {% endif %}
              <div class="span3">
                <a href="{% url "dept_list" d.id %}">{{ d.name }}</a> <br/>
              </div>
              {% if forloop.counter|divisibleby:4 or forloop.last %}
                </div>
              {% endif %}
            {% endfor %}
        </div>
      </div>

      <h3>Business</h3>
      <div class="row">
        <div class="span12">
            {% for d in business %}
              {% if forloop.counter0|divisibleby:4 %}
                <div class="row">
              {% endif %}
              <div class="span3">
                <a href="{% url "dept_list" d.id %}">{{ d.name }}</a> <br/>
              </div>
              {% if forloop.counter|divisibleby:4 or forloop.last %}
                </div>
              {% endif %}
            {% endfor %}
        </div>
      </div>


      <h3>Nursing</h3>
      <div class="row">
        <div class="span12">
            {% for d in nursing %}
              {% if forloop.counter0|divisibleby:4 %}
                <div class="row">
              {% endif %}
              <div class="span3">
                <a href="{% url "dept_list" d.id %}">{{ d.name }}</a> <br/>
              </div>
              {% if forloop.counter|divisibleby:4 or forloop.last %}
                </div>
              {% endif %}
            {% endfor %}
        </div>
      </div>


      <h3>Education</h3>
      <div class="row">
        <div class="span12">
            {% for d in education %}
              {% if forloop.counter0|divisibleby:4 %}
                <div class="row">
              {% endif %}
              <div class="span3">
                <a href="{% url "dept_list" d.id %}">{{ d.name }}</a> <br/>
              </div>
              {% if forloop.counter|divisibleby:4 or forloop.last %}
                </div>
              {% endif %}
            {% endfor %}
        </div>
      </div>

      <h3>Veterinary Medicine</h3>
      <div class="row">
        <div class="span12">
            {% for d in vet %}
              {% if forloop.counter0|divisibleby:4 %}
                <div class="row">
              {% endif %}
              <div class="span3">
                <a href="{% url "dept_list" d.id %}">{{ d.name }}</a> <br/>
              </div>
              {% if forloop.counter|divisibleby:4 or forloop.last %}
                </div>
              {% endif %}
            {% endfor %}
        </div>
      </div>


      <h3>Other</h3>
      <div class="row">
        <div class="span12">
            {% for d in other %}
              {% if forloop.counter0|divisibleby:4 %}
                <div class="row">
              {% endif %}
              <div class="span3">
                <a href="{% url "dept_list" d.id %}">{{ d.name }}</a> <br/>
              </div>
              {% if forloop.counter|divisibleby:4 or forloop.last %}
                </div>
              {% endif %}
            {% endfor %}
        </div>
      </div>

    </div>
  </body>
</html>


